
<Note>
  The `countDoubled` getter causes a backtracking exception while rendering
</Note>

<div class="text-3xl text-green-600">
  The count is {{this.count}}, when doubled it is {{this.countDoubled}}
</div>

(timesGetterHasRan = {{this.timesGetterHasRan}})