<Note>
  The `Backtracking1::MutateExternalData` component causes a backtracking exception while rendering
</Note>

<div class="text-3xl">
  {{this.person.name}} is {{this.person.age}}.
</div>

<Backtracking1::MutateExternalData @person={{this.person}} />