<Note>
  The `Backtracking2::Incrementor` component causes a backtracking exception while rendering
</Note>

<div class="text-3xl">
  The count is {{this.count}}
</div>

<Backtracking2::Incrementor @incrementCount={{this.incrementCount}} />